<meta charset="utf-8">
<title>vue2-component demo</title>
<script src="./vue2-component.umd.js"></script>

<link rel="stylesheet" href="./vue2-component.css">


<script>
console.log(vue2-component)
</script>
